<div id="history">
  <div class="msg" *ngFor="let msg of history">
    <div class="msg-header">
      <div class="username">{{msg.sender}}</div>
      <div class="timestamp">{{msg.timestamp | date: dateFormat}} </div>
    </div>
    <div class="msg-text">{{msg.text}}</div>
  </div>
</div>
<div id="new-msg">
  <div id="msg-box">
    <mat-form-field>
        <input matInput placeholder="Message" [(ngModel)]="text" (keyup.enter)="send()">
    </mat-form-field>
    <button mat-button color="primary" (click)="send()" [disabled]="!text.length">Send</button>
  </div>
</div>
